<template>
  <v-container grid-list-xs>
    <h1>Lucy's Ebook</h1>
    <v-row class="px-2">
      <v-col>
        <v-img class="book" height="250" contain src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx5n2_mpRSEbFCbMeFp8pKu8OzWM1F4ZG1jQ&usqp=CAU"></v-img>
      </v-col>
    </v-row>
    <v-row class="px-2">
      <v-col>
        <v-list>
          <v-list-item-title class="title">컨텐츠</v-list-item-title>
          <v-list-item class="pa-0">
            <textarea row="20" ref="para" v-model="contents" @click="highlight" class="input-ebook"/>
          </v-list-item>
          <v-divider class="mt-5"></v-divider>
          <v-list-item class="mt-2">
            <v-list-item-subtitle>선택된 단어</v-list-item-subtitle>
          </v-list-item>
          <v-list-item>
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-list-item-action>
                <p ref="paraOut" v-bind="attrs" v-on="on"></p>
                </v-list-item-action>
              </template>
              <v-list>
                <v-list-item>
                  <v-list-item-title><v-btn @click="saveBookmark" color="orange" dark>북마크에 저장하기</v-btn></v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <v-list>
          <v-list-item-title class="title">저장된 북마크</v-list-item-title>
          <v-list-item v-if="bookmarksOut.length !== 0" color="grey">
            <v-btn
              v-for="(bookmark, i) in bookmarksOut"
              :key="i"
              class="ma-2"
              color="orange"
              rounded
              dark
              @click="removeBookmark(bookmark)"
            >
              <span>{{ bookmark }}
              <v-icon right>mdi-close</v-icon>
              </span>
            </v-btn>
          </v-list-item>
          <v-list-item v-else>
            <v-alert>
            <v-icon color="error">mdi-book</v-icon> 저장된 북마크가 없습니다.
            </v-alert>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default ({
  data() {
    return{
      contents: '저자 밀란 쿤데라는 1929년 체코슬로바키아 브르노에서 태어났다. 작곡가 레오슈 야나체크(1854년~1928년)의 문하생이었으며, 체코의 주요한 음악학자이자 피아니스트이며 브르노 뮤지컬 아카데미의 수장인 아버지 밑에서 자랐다. 어린 시절 아버지에게서 피아노를 배웠으며 훗날 음악학을 공부하였다. 이러한 음악적 배경은 그의 작품의 근간이 되었다. 1948년 브르노에서 중등교육 과정을 마친 후 찰스 대학교의 예술학부에서 문학과 미학을 공부했으나, 두 학기 만에 프라하 공연예술 아카데미 영화학부로 옮겼다. 그곳에서 영화 기획과 희곡 창작 강의를 들었으나 1950년, 정치적인 이유로 학업을 중단했다. 1952년 학교를 졸업한 후 영화 아카데미에서 세계 문학을 가르치는 강사가 되었다. 당시 체코슬로바키아의 젊은이들처럼 공산당에 많은 영향을 받았던 쿤데라는 1950년, ‘반공산당 활동’을 했다는 이유로 공산당에서 추방당했으나 1956년에 재입당했다. 1968년 프라하의 봄에 참여하였다. 쿤데라는 소련 침공과 프라하의 봄 이후 모든 공직에서 해직당하고 저서를 압수당했으며 글을 쓰는 것도, 가르치는 것도 금지당하는 역경을 만났다. 『농담』과 『우스운 사랑』 단 두 권만 고국 체코에서 발표할 수밖에 없었던 그에게 세계적 명성을 안겨다준 작품인 『참을 수 없는 존재의 가벼움』은 프랑스에서 처음 출판되었으며 1989년 공산정권 붕괴 전까지 체코 내 출판 및 외국어판 수입이 금지되었다. 출판 금지 조치 해제 이후에도 쿤데라는 모국에서 이 작품이 출판되는 것을 반대해 왔다가 지난 2006년이 되어서야 체코에서 이 작품을 출간할 수 있었다. 하지만 여전히 쿤데라의 작품들은 프랑스어판이 그의 ‘정본’으로 인정, 번역 출간되고 있으며 프랑스 정착 후에는 프랑스어로 집필 활동을 하고 있다. 1975년 프랑스 이주 후 르네 대학교에서 비교문학을 강의하다가 1980년 파리 대학교로 자리를 옮겼다. 1981년에 프랑스 시민권을 땄으며 현재 프랑스에 거주 중이다.',
      selected: '',
      bookmarks: [],
      bookmarksOut: [],
      showTooltip: false
    }
  },
  mounted(){
    this.highlight();
  },
  methods: {
    highlight() {
      let selected = '';
      if (window.getSelection) {
          selected = window.getSelection().toString();
      } else if (document.selection && document.selection.type != "Control") {
          selected = document.selection.createRange().text;
      }
      this.$refs.paraOut.innerHTML = this.$refs.paraOut.innerHTML == '' ? '--' : `<span class="text-highlight">${selected}</span>`;
      this.selected = selected;
    },
    saveBookmark() {
      this.bookmarksOut.push(this.selected)
    },
    removeBookmark(book) {
      let res = this.bookmarksOut.findIndex(el => {
        return el == book
      })
      this.bookmarksOut.splice(res,1)
    }
  }
})
</script>
<style>
.text-highlight {
  display: inline-block;
  padding: 2px 10px;
  background: #ff9800;
  border-radius: 15px;
  color: #fff;
}
.input-ebook {
  width: 100%;
  padding: 10px;
  height: 200px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 15px;
}
.book {
  animation:20s linear infinite alternate ani-book;
}
@keyframes ani-book {
  from{
    transform: translate3d(0px, 2px, 35px)
  }
  to{
    transform: translate3d(42px, -62px, -135px)
  }
}
</style>
