<template>
  <v-container grid-list-xs>
    <h1>Lucy's Follwing</h1>
    <v-row>
      <v-col cols="4" v-for="(item, i) in items" :key="i">
        <v-card>
          <v-card-title>
            {{ item.title }}
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text class="title white--text">
            <v-avatar
              size="avatarSize"
              color="orange"
              width="30"
              rounded
            >{{ item.number }}
            </v-avatar> 
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default ({
  data() {
    return{
      items: [
        {title: 'followedBy', number: ''},
        {title: 'followersCount', number: ''},
        {title: 'followingCount', number: ''}
      ],
      accessKey: "jZTWnapu8X6qdMHRYNysOqsfca4H1Y8TVGblE62KnoU",
    }
  },
  created(){
    this.fetchFollowing();
  },
  methods: {
    fetchFollowing() {
      fetch('https://api.unsplash.com/users/lucy00' + `?client_id=${this.accessKey}`)
      .then(response => response.json())
      .then((json)=>{
        let num = [];
        json.followed_by_user = json.followed_by_user == false ? 'N' : 'Y'
        num.push(json.followed_by_user,json.followers_count,json.following_count)
        for(let i = 0; i < this.items.length; i++) {
          this.items[i].number = num[i]
        }  
      })
      .catch((err)=>{
        console.log(err)
      })
    },
  }
})
</script>
