<template>
  <v-container grid-list-xs>
    <h1>Lucy's Photo</h1>
    <stack :column-min-width="200" :gutter-width="10" :gutter-height="8">
      <stack-item v-for="item in photos" :key="item.urls.full">
        <image-card v-on:likePhoto="likePhoto(item)" :url="item.urls.small" :meta="{ name: item.user.first_name, description: item.description, likes: item.likes }" />
      </stack-item>
    </stack>
  </v-container>
</template>
<script>
import { Stack, StackItem } from 'vue-stack-grid'
import ImageCard from '../components/ImageCard'
import axios from 'axios'
import { mapState } from 'vuex'

export default ({
  components: { Stack, StackItem, ImageCard },
  data() {
    return{
      items: [],
      accessKey: "jZTWnapu8X6qdMHRYNysOqsfca4H1Y8TVGblE62KnoU",
      urlPhoto: "https://api.unsplash.com/users/lucy00/photos",
      urlLike: "https://api.unsplash.com/photos/"
    }
  },
  created(){
    this.fetchRandomPhoto()
    
  },
  methods: {
    likePhoto(el) {
      let url = this.urlLike + el.id + '/like';
      axios.post(url,
        {
          headers: {
              Authorization: "Client-ID jZTWnapu8X6qdMHRYNysOqsfca4H1Y8TVGblE62KnoU"
          }
        }).then(resonse => {
            console.log(resonse, 'like photo')
        }).catch(error => {
            console.error(error)
        })
      .then(response => response.json())
    },
    fetchRandomPhoto() {
      fetch(this.urlPhoto + `?client_id=${this.accessKey}`)
      .then(response => response.json())
      .then((json)=>{
        for(let i = 0; i < json.length; i++){
          this.items.push(json[i])
          this.$store.dispatch('fetchPhotos', this.items)
        }
      })
      .catch((err)=>{
        console.log(err)
      })
    }
  },
  computed: {
    ...mapState(['photos'])
  }
})
</script>
