<template>
  <v-container grid-list-xs>
    <h1>Likes Photos</h1>
    <v-row>
      <v-col cols="4" v-for="(item, i) in items.urls" :key="i">
        <v-card>
          <v-img :src="item"></v-img>
          <p class="pa-2">
            <v-avatar v-text="items.likes[i]" color="orange white--text" size="30" rounded height="20"></v-avatar> liked
          </p>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default ({
  data() {
    return{
      items: {
        urls: [],
        likes: [],
      },
      accessKey: "jZTWnapu8X6qdMHRYNysOqsfca4H1Y8TVGblE62KnoU",
      url: "https://api.unsplash.com/users/lucy00/likes",
    }
  },
  created(){
    this.fetchLikes()
  },
  methods: {
    async fetchLikes() {
      let urls = [];
      let likes = [];

      await fetch(this.url + `?client_id=${this.accessKey}`, 
        {
          headers: {
            Authorization: "Client-ID jZTWnapu8X6qdMHRYNysOqsfca4H1Y8TVGblE62KnoU"
          },
        }
      )
      .then(response => response.json())
      .then((json)=>{
        for(let  i = 0; i < json.length; i++){
          urls.push(json[i].urls.full)
          this.items.urls = urls;
          likes.push(json[i].likes)
          this.items.likes = likes;
        }
      })
      .catch((err)=>{
        console.log(err)
      })
    }
  }
})
</script>
