<template>
  <v-container class="ma-0">
    <h1>Searched Photos</h1>
    <v-row v-if="searchedPhotos !== ''">
      <v-col cols="3" v-for="(item, i) in searchedPhotos" :key="i">
        <v-card>
          <v-img :src="item.urls.full"></v-img>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col cols="12">
        검색결과가 없습니다.
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { mapState } from 'vuex';
export default ({
  data() {
    return{
    }
  },
  created() {
  },
  computed: {
    ...mapState(['searchedPhotos'])
  },
  methods: {
    
  }
})
</script>
