<template>
  <v-container grid-list-xs>
    <h1>Lucy's Statistics</h1>
    <line-chart :chart-data="datacollection" :options="options"></line-chart>
  </v-container>
</template>
<script>
import LineChart from '@/components/LineChart.js'

export default ({
  components: { LineChart },
  data() {
    return{
      items: [],
      accessKey: "jZTWnapu8X6qdMHRYNysOqsfca4H1Y8TVGblE62KnoU",
      url: "https://api.unsplash.com/users/lucy00/statistics",
      data: [],
      datacollection: null,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        animation: {
            duration: 0
        },
        hover: {
            animationDuration: 0
        },
        responsiveAnimationDuration: 0
      }
    }
  },
  async created(){
    const response = await fetch(this.url + `?client_id=${this.accessKey}`)
    const data = await response.json();
    this.data = data.downloads.historical.values;
    this.fillData()
  },
  methods: {
    fillData() {
      let obj = new Object();
      let objData = new Object();
      let arrDatasets = new Array();
      let arrColor = new Array();
      let arrLabel = new Array();
      let arrData = new Array();
      let arrBg = ["#ff9800","#fff000","#ff9800"]

      for(let  i = 0; i < this.data.length; i++) {
        arrLabel.push(this.data[i].date)
        arrData.push(this.data[i].value)
        arrColor.push(arrBg[this.data[i].value])
        
        obj.labels = arrLabel
        objData.label = arrLabel
        objData.backgroundColor = arrColor
        objData.data = arrData
        arrDatasets[0] = objData
        obj.datasets = arrDatasets

        this.datacollection = obj
      }
    }
  }
})
</script>
