<template>
  <v-card elevation="0" @click="sendLike">
    <v-img :src="url" style="border-radius:20px"></v-img>
    <v-layout class="pl-3" align-center>
      <v-avatar size="40" color="yellow" class="mr-4">{{ meta.likes == 0 ? 0 : meta.likes }}</v-avatar>
      <v-flex xs12>
        <p class="subtitle-2 ma-0 mt-2">{{ meta.name }}</p>
        <p class="body-2 grey--text">{{ meta.description }}</p>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
export default ({
  props: {
    url: {
      type: String,
      default: function() {
        return "https://i.pinimg.com/236x/3c/a0/ef/3ca0ef6a3023c893bbae32d73190ece5.jpg"
      }
    },
    meta: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  methods: {
    sendLike() {
      this.$emit('likePhoto')
    }
  }
})
</script>
