<template>
  <v-app>
    <v-app-bar
      app
      color="white"
    >
      <v-layout align-center>
        <v-flex xs12>
          <v-text-field v-model="searchKeyword" color="grey" class="mt-7" placeholder="Search..." solo-inverted flat prepend-inner-icon="mdi-magnify" @keypress.enter="searchPhoto"></v-text-field>
        </v-flex>
        <v-spacer></v-spacer>
        <!-- <v-btn text link @click="login">
          <v-icon>mdi-account</v-icon>
        </v-btn>
        <v-btn text>
          <v-icon>mdi-plus</v-icon>
        </v-btn> -->
      </v-layout>
    </v-app-bar>

    <v-navigation-drawer app permanent>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            <v-layout align-center>
              <v-flex xs2>
                <v-img aspect-ratio="1" lazy-src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" />
              </v-flex>
              <v-flex xs10>
                Luterest
              </v-flex>
            </v-layout>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          :to="item.link"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list
        dense
        nav
      >
        <v-list-item>
          Insights
        </v-list-item>
        <v-list-item
          v-for="item in items2"
          :key="item.title"
          :to="item.link"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              {{ item.title }}
            </v-list-item-title>
          </v-list-item-content>
          <v-list-item-avatar v-if="item.likes" size="25" color="orange" class="white--text subtitle-2">{{ item.likes }}</v-list-item-avatar>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <router-view/>
      <v-alert
        v-show="!searchSuccess"
        type="error"
        prominent
        outlined
        dismissible
        absolute
        bottom
      >
        <strong>{{ searchKeyword }}</strong>으로 검색된 사진이 없습니다.
      </v-alert>
    </v-main>

  </v-app>
</template>
<script>
import axios from "axios";
export default {
  data () {
    return {
      searchKeyword: '',
      searchItems: [],
      searchSuccess: true,
      items: [
        { title: 'Home', icon: 'mdi-view-dashboard', link: '/' },
        { title: 'Statatics', icon: 'mdi-chart-areaspline', link: 'stat' },
      ],
      items2: [
        { title: 'Likes', icon: 'mdi-thumb-up', likes: '', link: 'likes'},
        { title: 'Following', icon: 'mdi-bell', likes: '', link: 'follwing' },
        { title: 'Ebook', icon: 'mdi-book', like: '', link: 'ebook' },
      ],
      right: null,
      accessKey: "jZTWnapu8X6qdMHRYNysOqsfca4H1Y8TVGblE62KnoU",
      url: "https://api.unsplash.com/users/lucy00/likes",
      urlSearch: "https://api.unsplash.com/search/photos",
      likes: ''
    }
  },
  created(){
    this.fetchMe()
    this.fetchLikes()
  },
  methods: {
    login() {
      axios.get('https://unsplash.com/oauth/authorize?client_id=jZTWnapu8X6qdMHRYNysOqsfca4H1Y8TVGblE62KnoU&redirect_uri=urn:ietf:wg:oauth:2.0:oob&response_type=code&scope=public',
      {
        headers: {
          'Access-Control-Allow-Origin': '*',
          'Content-type': 'application/json',
          Authorization: "Client-ID jZTWnapu8X6qdMHRYNysOqsfca4H1Y8TVGblE62KnoU",
        }
      })
      .then(response => console.log(response))
      .catch((err)=>{
        console.log(err)
      })
    },
    fetchMe() {
      fetch('https://api.unsplash.com/users/lucy00' + `?client_id=${this.accessKey}`)
      .then(response => response.json())
      .then((json)=>{
        this.items2[1].likes = json.following_count
      })
      .catch((err)=>{
        console.log(err)
      })
    },
    fetchLikes() {
      fetch(this.url + `?client_id=${this.accessKey}`)
      .then(response => response.json())
      .then((json)=>{
        this.items2[0].likes = json.length == 0 ? '0' : json[0].likes
      })
      .catch((err)=>{
        console.log(err)
      })
    },
    searchPhoto() {
      fetch(this.urlSearch +`?client_id=${this.accessKey}` + '&query=' + this.searchKeyword)
      .then(response => response.json())
      .then((json)=>{
        this.searchItems = json.results
        if(this.searchItems.length !== 0){
          this.$store.dispatch('fetchPhotos', this.searchItems)
        }else {
          this.searchSuccess = false
        }
      })
      .catch((err)=>{
        console.log(err)
      })
    },
    hideAlert() {
      this.searchSuccess = true
    }
  },
  watch: {
    searchSuccess(n) {
      if(n == false) {
        setTimeout(this.hideAlert, 5000)
      }
    }
  }
}
</script>